
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Large binary files
cuttlefish-desktop/dist/**
!cuttlefish-desktop/dist/**/*.json
!cuttlefish-desktop/dist/**/*.yaml
!cuttlefish-desktop/dist/**/*.yml
!cuttlefish-desktop/dist/**/*.sh

# Node modules
desktop/node_modules/
device-viewer/node_modules/

# Large database
data/devices.db
